<html>
	<head>
		<meta charset="utf-8"> 
		<title>Home</title>
		<link href="stylesheet/button.css" rel="stylesheet">
		<link href="stylesheet/signin.css" rel="stylesheet">
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<!-- Obtain Bootstrap javascript from CDN (online service) so it doesn't have to be on my machine -->
		<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body background="img/escheresque_ste.png">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="navbar-header">
						    <h3 style="color:white" > KRYPTEX </h3>
						    <h7 style="color:white" > Do You Have It In Your Grey Cell</h7>
						</div>
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      	<form class="navbar-form navbar-right" action='/login'>
	      		      		  	<button type="submit" class="btn navbar-btn btn-inverse" style="margin-left:7px">
					      			<span class="glyphicon glyphicon-log-in"></span> Sign In
					      		</button>
					      	</form>
					    </div>
					</nav>
				</div>
			</div>
			</br></br></br></br></br></br></br></br>
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-4" style="color:black" class="heading">
					<h1> KRYPTEX </h1>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-6 has-feedback">
					<form class="form-signin " role="form" method="post" action="/signup" style="margin-padding: 20px;">
						<h3 class="form-signin-heading"> SIGN-UP</h3>
						<div class="has-feedback" id="ud">
							<input type="text" placeholder="pick a username"  name="user_name" id="uid" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#fff" required autofocus>
						</div>
						<div class="has-feedback" id="ed">
							<input type="text" placeholder="email-id" name="user_email" id="eid" class="form-control" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#fff" required>
						</div>
						<div class="has-feedback" id="fd">
						<input type="text" placeholder="contact info" class="form-control" id="ph_no" name="user_ph_no" style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#fff" required>
						</div>
						<div class="has-feedback" id="pass">
							<input type="password" placeholder="password" class="form-control" id="passwd" name="user_password" style="padding:10px;background: rgba(54, 25, 25, 0);color:#fff" required>
							<input type="password" placeholder="confirm password" class="form-control" id="xpasswd" name="xpasswd" style="padding:10px;background: rgba(54, 25, 25, 0);color:#fff" required>
						<div>
						<button type="submit" class=" form-control btn btn-custom" id="siu"> <span class="glyphicon glyphicon-user"></span>  Sign Up </button>
					</form>	
				</div>
			</div>	
		</div>
	</div>
	</br>
	</br></br></br></br>
	</body>
	<script>
	        var socket = io.connect();
	        var $j = jQuery.noConflict();
	        $j(function(){
	        	$j('#siu').click(function(){
	                var user = $j('#uid').val();
	                var email = $j('#eid').val();
	                var passwd = $j('#passwd').val();
	                var passwrd = $j('#xpasswd').val();
	                if( passwd !== passwrd){
	                	$j('#passwd').val('');
	                    $j('#xpasswd').val('');
	                }
	            });
	            $j('#uid').blur(function(){
	                    var name = $j('#uid').val();
	                    socket.emit('check_for_user_name',name);    
	            });
	         
	            $j('#uid').click(function (){
	            	$j('#ud').removeClass('has-error');
	            	
	            });
	        	

	        });

	        socket.on('tell',function(val){
	            $j('#ud').addClass('has-error');
	            $j('#uid').val('');
	        });
	        socket.on('tell-email',function(val){
	            $j('#ed').addClass('has-error');
	            $j('#eid').val('');
	        });
		    socket.on('forward',function(){
	            $j('#signup').submit();
	        });
		</script>
</html>