<html>
	<head>
		<meta charset="utf-8"> 
		<title> LOG IN </title>
		<link href="stylesheet/signin.css" rel="stylesheet">
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
		<script src="js/all.js"></script>
	</head>
	<body background="img/use_your_illusion.png">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<div class="navbar-header">
						    <h3 style="color:white" >KRYPTEX</h3>
						</div>
					</nav>
				</div>
			</div>
			</br></br></br></br></br></br></br>	
			<div class="row" >
				<form class="form-signin" role="form" action="/signin" method="post">
					<h2 class="form-signin-heading" style="color:white"> <%= title %></h2>
					<input type="text" class="form-control" placeholder="username" value='<%= user_name %>' style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#fff" name="user_name" required autofocus>
					<input type="password" class="form-control" placeholder="password" name="user_password"  style="padding:10px;margin-bottom: 10px;background: rgba(54, 25, 25, 0);color:#fff" required >
					<button class="btn btn-lg btn-inverse btn-block" type="submit" style="float:middle;"><span class="glyphicon glyphicon-log-in"></span> login</button>
				</form>
			</div>
				
		</div>
		</br>
			
	</body>
	<script>
		
	</script>
</html>