<html>
<head>
	<title>KRYPTEX</title>
	<link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
	<script src='js/all.js'></script>
</head>
<body background='img/moulin.png'>
	<div class="container">
		<h1 style='margin-left:100px'>
			Event Description and General Rules
		</h1> 
		<div class="row" style='background: rgba(255, 255, 255, 0.16);color:#fff'>
			<h3> 
				1. This open web Treasure Hunt is to be held in a single round, wherein participants are 
				   free to search for answers on Internet. 
			</h3>	
			<h3> 
				2. The round would consist of various questions where participant is expected to deal 
				   with URLs, images and presence of mind. 
			</h3>
			<h3> 
				3. In addition to Internet surfing the participants will also be provided with a discussion 
				   forum where hints would be provided. 
			</h3>
			<h3> 	 
				4. We don't expect participants to have any knowledge of computers or programming 
				   since it is not a coding competition, they should just know how to surf web and relate 
				   things. 
			</h3>
			<h3> 	
				5. Round-specific rules will be announced at the time of the event. 
			</h3>
			<h3> 	
				6. In case of any dispute, the decision of the Team KrypteX shall be the final and binding. 
			</h3>
			<h3> 	
				7. The participants must register with their name as on their college ID card, so as to 
				   receive the prizes later on. 
			</h3>
			<h3> 	
				8. Use of any unfair means i.e. spreading out answers anywhere will lead to immediate 
				   disqualification of the individual. 
			</h3>
			<h3> 	
				9. The event is open to engineering, management and other disciplines. 
			</h3>
			<h3> 	
				10. There will be no entry fee to participate in this event.
			</h3>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<form action='/problem_window'>
					<button type='submit' class='btn btn-lg btn-primary form-control'> START </button>
				</form>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function (){
		alert( 'Welcome <%= user_name %> <%= message %>')
	});
</script>
</html>