<html>
<head>
	<title>KRYPTEX</title>
	<link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
    <link rel= 'stylesheet' href='stylesheets/problem_window.css'  type='text/css'/>

	<script src='js/all.js'></script>
</head>
<body background='img/noisy_net.png'>
	<div class="container">
		<div class="rule-heading col-lg-8 col-lg-offset-2">	
			<h1>
				Event Description and General Rules
			</h1>
			<br><br>
		</div> 
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 row-custom-rules">
				<p> 
					<span class="badge">1</span> This open web Treasure Hunt is to be held in a single round, wherein participants are free to search for answers on Internet. 
				</p>	
				<p> 
					<span class="badge">2</span> The round would consist of various questions where participant is expected to deal 
					   with URLs, images and presence of mind. 
				</p>
				<p> 
					<span class="badge">3</span> In addition to Internet surfing the participants will also be provided with a discussion 
					   forum where hints would be provided. 
				</p>
				<p> 	 
					<span class="badge">4</span> We don't expect participants to have any knowledge of computers or programming 
					   since it is not a coding competition, they should just know how to surf web and relate 
					   things. 
				</p>
				<p> 	
					<span class="badge">5</span> Round-specific rules will be announced at the time of the event. 
				</p>
				<p> 	
					<span class="badge">6</span> In case of any dispute, the decision of the Team KrypteX shall be the final and binding. 
				</p>
				<p> 	
					<span class="badge">7</span> The participants must register with their name as on their college ID card, so as to 
					   receive the prizes later on. 
				</p>
				<p> 	
					<span class="badge">8</span> Use of any unfair means i.e. spreading out answers anywhere will lead to immediate 
					   disqualification of the individual. 
				</p>
				<p> 	
					<span class="badge">9</span> The event is open to engineering, management and other disciplines. 
				</p>
				<p> 	
					<span class="badge">10</span> There will be no entry fee to participate in this event.
				</p>
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<form action='/problem_window'>
					<button type='submit' class='btn btn-lg btn-primary btn-block rule-button'> Start </button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>